<h1>Welcome {{username}}!</h1>
    <a href="/manageProducts">Administrar productos</a><br><br>
    <a href="/users">Administrar Usuarios</a><br><br>
    <a href="http://localhost:8080/logout">LogOut</a>