<div>
    <h2>Carrito: {{cid}}</h2>
    <h3>Productos</h3>
    {{#each info}}
    <div>
        <div>
            <p>Producto: {{this.product}}</p>
            <p>Cantidad: {{this.quantity}}</p>
        </div>
    </div>
    {{/each}}
</div>

<script src="/daos/mongoManagers/carts.manager.js"></script>
