<h1>Welcome {{username}}!</h1>
    <span id="cart" cid={{user.cart}}></span>
    <a href="/carts/{{user.cart}}">Ir al carrito</a><br><br>
    <a href="/products">Ver lista de productos</a><br> <br>
    <a href="http://localhost:8080/logout">LogOut</a>