<div>
        <div>
            <div>
                <h3>Log In</h3>
            </div>
            <form id="loginForm">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <button type="submit">Ok</button>
            </div>
            </form>
        </div>
        <div>
            <h3>Or..</h3>
            <a href="/api/users/github"><p>Login with Github</p></a>
        </div>
        <div>
            <p>You don't have an account? <a href="/register">Sign up here</a></p>
        </div>
    </div>