<div>
    <h3>{{user.rol}}</h3>
    <h1>Welcome {{user.name}}!</h1>
    <h2>Products</h2>
    <a href="http://localhost:8080/logout">LogOut</a>
    {{#each products}}
    <div>
        <h2>Product: </h2>
        <div>
            <p>Id: </p>
            <p>Description: </p>
            <p>Price: </p>
            <p>Category: </p>
            <p>Code: </p>
            <p>Stock: </p>
        </div>
        <button class="btnAgregar">Add to cart</button>
    </div>
    {{/each}}
</div>


<script src="/daos/mongoManagers/products.manager.js"></script>