<div>
    <div>
    <h2>Agregar producto</h2>
    <form id="formAgregar">
    <input type="text" id="input-title" placeholder="Title" name="title">
    <input type="text" id="input-description" placeholder="Description" name="description">
    <input type="number" id="input-price" placeholder="Precio" name="price">
    <input type="text" id="input-category" placeholder="Categoría" name="category">
    <input type="text" id="input-code" placeholder="Código" name="code">
    <input type="number" id="input-stock" placeholder="Stock" name="stock">
    <input type="submit" value="Agregar">
    </form>
    </div>
    <div>
        <h2>Eliminar Producto</h2>
        <form id="formEliminar">
        <input type="number" id="input-idAEliminar" placeholder="Id" name="idAEliminar">
        <input type="submit" value="Eliminar">
        </form>
    </div>
    <div class="lista">
        <h2>Lista de Productos</h2>
        <div id="containerLista" class="listaContainer"></div>
    </div>

<script src="/socket.io/socket.io.js"></script>

<script src="/js/socket.script.js"></script>