<div>
    <a href="/products">Volver a lista de productos</a>
    <h2>Hubo un error con tu Ticket:</h2>
    <h3>Probablemente los productos que agregaste no tengan stock disponible. Chequea tu carrito y la lista de productos.</h3>
</div>