<div>
    <a href="/products">Volver a lista de productos</a>
    <h2>Tu Ticket:</h2>
    <h3>Code: {{this.code}}</h3>
    <h3>Date: {{this.date}}</h3>
    <h3>Amount: ${{this.amount}}</h3>
    <h3>Purchaser: {{this.purchaser}}</h3>
</div>


